header {
    background-color: #F0EFE9;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
  }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
  header .container .menu-bars {
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    header .container .menu-bars {
      display: none;
    }
  }
  header .container .menu {
    display: none;
    flex: 1;
  }
  @media (min-width: 992px) {
    header .container .menu {
      display: block;
    }
  }
  header .container .menu .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: solid #DAD9D3 1px;
  }
  @media (max-width: 1200px) {
    header .container .menu .top-menu {
      justify-content: flex-end;
    }
  }
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
  @media (max-width: 1200px) {
    header .container .menu .top-menu .contact-information {
      display: none;
    }
  }
  header .container .menu .top-menu .contact-information .content-box {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 15;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-right: 2rem;
    border-right: 1px solid #DAD9D3;
    padding-right: 2rem;
  }
  header .container .menu .top-menu .contact-information .content-box:last-child {
    border: none;
  }
  header .container .menu .top-menu .social-media-container {
    display: flex;
    gap: 1rem;
  }
  header .container .menu .top-menu .social-media-container .social-media-icons {
    color: #191919;
    font-size: 25px;
  }
  header .container .menu .top-menu .social-media-container i:hover {
    opacity: 0.75;
  }
  header .container .menu .top-menu img {
    width: 1.2rem;
    height: 1.2rem;
  }
  header .container .menu .main-menu {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .menu .main-menu nav a {
    font-size: 15px;
    color: #191919;
    text-decoration: none;
    margin-right: 29px;
    position: relative;
  }
  i header .container .menu .main-menu nav a:focus::after, header .container .menu .main-menu nav a:hover::after {
    content: "";
    position: absolute;
    font-weight: 500;
    height: 2px;
    width: 1rem;
    background-color: #191919;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    border-radius: 0.5rem;
  }
  header .container .menu .main-menu .login-button {
    background-color: #F9D783;
    width: 122px;
    height: 48px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #191919;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 16px;
  }
  header .container .menu .main-menu .login-button:hover {
    background-color: black;
    color: white;
    transition-duration: 0.2s;
  }
  header .background-lines1 {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  @media (max-width: 1400px) {
    header .background-lines1 {
      display: none;
    }
  }
  header .header-container .about-box {
    height: 800px;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    header .header-container .about-box {
      justify-content: center;
      flex-direction: column;
    }
  }
  header .header-container .about-box .about-text {
    display: flex;
    height: 100%;
    padding-top: 5rem;
    flex-direction: column;
    width: 60%;
    gap: 2rem;
  }
  header .header-container .about-box .about-text h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 83px;
    line-height: 100px;
  }
  @media (max-width: 1200px) {
    header .header-container .about-box .about-text h1 {
      font-size: 50px;
      line-height: 50px;
    }
  }
  header .header-container .about-box .about-text p {
    font-size: 20px;
    font-weight: normal;
  }
  header .header-container .about-box .about-text .about-buttons {
    display: flex;
    gap: 1rem;
  }
  @media (max-width: 500px) {
    header .header-container .about-box .about-text .about-buttons {
      font-size: 10px;
    }
  }
  header .header-container .about-box .about-text .about-buttons a {
    text-decoration: none;
    color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  header .header-container .about-box .about-text .about-buttons #about-button-consulting {
    background-color: #F9D783;
    width: 208px;
    height: 56px;
    border-radius: 40px;
  }
  header .header-container .about-box .about-text .about-buttons #about-button-consulting:hover {
    cursor: pointer;
    background-color: #191919;
    color: white;
    transition-duration: 0.2;
  }
  header .header-container .about-box .about-text .about-buttons #about-button-learnmore {
    background-color: transparent;
    width: 180px;
    height: 56px;
    border: #191919 1px solid;
    border-radius: 40px;
  }
  header .header-container .about-box .about-text .about-buttons #about-button-learnmore:hover {
    transition-duration: 0.2;
    cursor: pointer;
    background-color: #191919;
    color: white;
  }
  header .header-container .about-images {
    height: 100%;
    width: 70%;
  }
  @media (max-width: 1200px) {
    header .header-container .about-images {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      width: 100%;
    }
  }
  header .header-container .about-images img {
    height: 100%;
    width: 100%;
  }
  @media (max-width: 1200px) {
    header .header-container .about-images img {
      height: 100%;
      width: 50%;
    }
  }
  header .letsconnect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
  }
  header .letsconnect .connect-links {
    display: flex;
    gap: 1rem;
  }
  header .letsconnect .connect-links a:first-child {
    font-weight: 300;
  }
  header .letsconnect .connect-links a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #191919;
    text-decoration: none;
  }
  header .letsconnect .connect-links a:hover {
    text-decoration: underline;
  }
  header .letsconnect h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #191919;
  }
  @media (max-width: 400px) {
    header .letsconnect h1 {
      font-size: 30px;
    }
  }
  header .background-lines2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }